/* Global Layout Set-up */

/* Box model fix
--------------------------------------------------------------------------*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
margin: 0;
padding: 0;
text-align: center;
font-family: 'Roboto', sans-serif;
color: #222;
background: #f7f5f0;
}
/* Link Styles
--------------------------------------------------------------------------*/


a {
  text-decoration: none;
  color: #0499ff;
}
a:hover {
  color: #6633ff;
}
/* Section Styles
--------------------------------------------------------------------------*/


.main_nav {
  width: 100%;
  background: black;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
  display: none;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  flex-wrap: wrap;
}

padding: 0;
}
.nav .name {
display: none;
}
.nav li {
padding: 5px 10px 10px 10px;

}
.nav a {
transition: all .5s;
}
.nav a:hover {
color: white
}

header {
  text-align: center;
  background: url('../images/hotfire.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;


}
header {
  line-height: 1.5;
}
.pro_pic , div .access {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
}

.pro_pic:hover .access {
  transform: scale(1.2);
  background: url('../images/enter.png ') no-repeat top center ;
   display: inline;

}

.pro_pic .access {
       display: none;
       position: absolute;
       top: 0;
       left: 0;
       z-index: 99;
   }

   .before_access{

     /* max-width:50%;
     max-height:50%; */
     height: 200px;
     width: 200px;
     border-radius: 50%;
     transition: all 1.5s;
     border: 3px solid white;
   }

   .before_access:hover {

     content: url('../images/enter.png');
     transition: all .5s;
       transform: scale(1.2);
   }


/*
header .access  {
  margin-top: 50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
} */
/*
header .access:hover {
  transform: rotate(30deg);
}*/

header .main_name, .intro {
  text-decoration: none;
  color: white;
}

p.copyright {
    color: white;
}

section.coverheight {
    height: 579px;
}

/*  Resume formating
--------------------------------------------------------------------------*/

/* Banner formatting */

#res_banner {
  text-align: center;
  /* background: url('../images/beach-dawn-dusk-1144176.jpg') no-repeat top center ; */
   background: url('../images/backyardsunset.jpg') no-repeat top center ;

  background-size: cover;
  overflow: hidden;

  padding-top: 60px;


}


header .self_pic  {
  margin-top: 50px;
  width: 175px;
  height: 266px;
  border-radius: 45%;
  border: 3px solid white;
  transition: all .5s;
}

li.tnav {
    border: white 2px solid;
    border-radius: 35%;
}

.intro_container {
    display: inline;
}
/*
Category wrap
--------------------------------------------------------------------*/

.category_nav {
    width: 100%;
    background: black;
    min-height: 30px;
    padding: 10px;
    /* position: fixed; */
    text-align: center;
}
/* content_wrap formatting
------------------------------------------------------------------- */
.content_wrap {
    /* padding-top: 50px; */
    text-align: -webkit-auto;
    /* margin-top: 60px; */
    /* background-image:url('../images/back.jpg'); */
}

/* Give section a default height

------------------------------------------------------------------------*/

section.content_section {
    min-height: 400px;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('../images/desktop.jpg') no-repeat fixed top right/cover;
}

/*
Project section has different min height
------------------------------------------------------------------------*/

section.content_section.project_section{
        min-height: 530px;
        /*Pending better background*/
        /* background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url('../images/waterfront_ham.jpg') no-repeat fixed top right/cover; */

}
/* Hide all divs in the beginning
------------------------------------------------------------------------*/
/* #exp, #ski ,#ed ,#vol,#pro, #me {

  display: none;
} */

 .hidediv{

   display: none;
 }
#exp, #ski, #ed, #vol, #pro,#proCon,#me {

    padding: 15px;
    color: whitesmoke;
    padding-left: 50px;

}
h2 + h3 {

    margin-top: -10px;
}

h2 {
    text-decoration-line: overline;
    text-decoration-color: salmon;
    color: darksalmon;
    font-family: 'Orbitron', sans-serif;
}
/*Buttons
---------------------------------------------------------------------------*/
button {
    border: white 2px solid;
    background-color: #115e89;
    padding: 10px 30px;
    color: white;
    width: 200px;
    border-radius: 9%;
    letter-spacing: 1px;
    font-family: 'Orbitron', sans-serif;
    opacity: 0.6;
    transition: 0.3s;
}

button:hover  {
  opacity: 1;

}

button:focus{

  opacity: 1.0;
}
/*
  Project display buttons

----------------------------------------------------------------------------*/

button#proDis{
  border: white 2px solid;
  background-color: #115e89;
  padding: 10px 30px;
  color: white;
  border-radius: 9%;
  letter-spacing: 1px;
  font-family: 'Orbitron', sans-serif;
  opacity: 1;
}
/*
Footer
----------------------------------------------------------------------------*/
footer {
    width: 100%;
    background: black;
    min-height: 30px;
    padding: 10px;
    /* position: fixed; */
    text-align: center;
}

ul#footlist {
    justify-content: center;
}

.showdiv{
  display: block;
}
